# contentful
NEXT_PUBLIC_CTF_SPACE_ID=''
NEXT_PUBLIC_CTF_DELIVERY_TOKEN=''
NEXT_PUBLIC_CTF_PREVIEW_TOKEN=''
NEXT_PUBLIC_CTF_PREVIEW_SECRET=''
NEXT_PUBLIC_CTF_ENVIRONMENT='master'
CONTENTFUL_PREVIEW_SECRET=''
NEXT_PUBLIC_CTF_STUDIO_EXPERIENCE_TYPE_ID="experiencePage"